#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2

#define LСT_EQL  &mt LCTRL EQUAL
#define RСT_MNS  &mt RCTRL MINUS
#define LSH_LPAR  &mt LSHFT LPAR
#define PSH_PPAR  &mt RSHFT RPAR

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <11 12>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        renter {
            bindings = <&kp ENTER>;
            key-positions = <17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
&kp Q     &kp W     &kp E     &kp R     &kp T                                                        &kp Y     &kp U     &kp I      &kp O     &kp P
&kp A     &kp S     &kp D     &kp F     &kp G                                                        &kp H     &kp J     &kp K      &kp L     &kp SEMI
&kp Z     &kp X     &kp C     &kp V     &kp B     LSH_LPAR    &mt RALT RET    &kp SPACE  PSH_PPAR    &kp N     &kp M     &kp COMMA  &kp DOT   &kp FSLH
          &kp LALT  &mo 2               LСT_EQL   &lt 1 LBKT  &kp LEFT_GUI    &kp RALT   &lt 1 RBKT  RСT_MNS             &mo 2      &kp LGUI      
            >;
        };

        lower_layer {
            bindings = <
&kp ESC    &kp N7    &kp N8    &kp N9    &kp BSPC                                      &kp DEL   &kp HOME  &kp UP     &kp END    &kp PG_UP
&kp N0     &kp N4    &kp N5    &kp N6    &kp DEL                                       &kp BSPC  &kp LEFT  &kp DOWN   &kp RIGHT  &kp PG_DN
&kp GRAVE  &kp N1    &kp N2    &kp N3    &kp TAB   &trans  &trans      &trans  &trans  &kp TAB   &trans    &kp K_APP  &kp SQT    &kp NUBS
           &trans    &trans              &trans    &trans  &trans      &trans  &trans  &trans    &trans               &trans     
            >;
        };

        raise_layer {
            bindings = <
&kp F12  &kp F7  &kp F8  &kp F9  &none                                       &trans  &trans  &trans  &trans  &trans
&kp F11  &kp F4  &kp F5  &kp F6  &kp DEL                                     &trans  &trans  &trans  &trans  &trans
&kp F10  &kp F1  &kp F2  &kp F3  &none   &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
         &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans
            >;
        };
    };
};
